body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #F7F7F7;
    margin: 0;
}

.battery {
    position: relative;
    width: 120px;
    height: 240px;
    background: #fff;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.battery::before {
    content: '';
    position: absolute;
    top: -15px;
    width: 60px;
    height: 15px;
    background: #fff;
    border-radius: 10px;
}

.battery-area {
    width: 100%;
    position: relative;
    transition: height 1s;
    background: #bbb;
}

.battery-charging {
    background: #1abc9c;
}

.battery-percentage {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    color: white;
    z-index: 1;
}

.charging-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #1abc9c;
    display: none;
}

.charging-icon-show {
    display: block;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
